.grid-container-fair-use {
    display: grid;
    grid-template-areas:
        "nav nav"
        "header header"
        "main main"
		"aside4 aside2"
        "fair1 fair2"		
        "aside3 aside3"
        "footer footer";
    row-gap: 2rem;
    column-gap: 2rem;
    background-color: #59959E;
    padding: 2rem;
    border-radius: 1rem;
}



/*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 900px) {

    .grid-container-fair-use {
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "main main"
		    "aside4 aside4"
            "aside2 aside2"						
            "fair1 fair1"
			"fair2 fair2"			
            "aside3 aside3"
            "footer footer";
        row-gap: 2rem;
        column-gap: 2rem;
        background-color: #59959E;
        padding: 2rem;
        border-radius: 1rem;
    }
}
	
	/*SECOND BREAK POINT === mobile */
@media only screen and (max-width : 600px) {

    .grid-container-fair-use {
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "main main"
            "aside4 aside4"
            "aside2 aside2"			
            "fair1 fair1"
			"fair2 fair2"			
            "aside3 aside3"
            "footer footer";
        row-gap: 2rem;
        column-gap: 2rem;
        background-color: #59959E;
        padding: 2rem;
        border-radius: 1rem;
    }
	

	


}