.grid-container-collab {
    display: grid;
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "main main main main"
        "aside1 aside1 aside1 aside2"
        "aside3 aside3 aside3 aside3"
        "footer footer footer footer";
    row-gap: 2rem;
    column-gap: 2rem;
    background-color: #59959E;
    padding: 2rem;
    border-radius: 1rem;
}

/*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 900px) {

    .grid-container-collab {
        display: grid;
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "main main main main"
            "aside1 aside1 aside1 aside1"
            "aside2 aside2 aside2 aside2"
            "aside3 aside3 aside3 aside3"
            "footer footer footer footer";
        row-gap: 2rem;
        column-gap: 2rem;
        background-color: #59959E;
        padding: 2rem;
        border-radius: 1rem;
    }

}